/* == Applies to login.html and register.html == */

/* || Layout */

.container {
    width: clamp(400px, 33%, 600px);
    border-right: 6px solid #b16b6b;
    font-size: 30px;
    flex: 1 1 auto;
}

input, textarea {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
    display: block;
    width: 80%;
}

input[type="submit"] {
    margin-bottom: -20px;
    width: 50%;
}

small {
    color: #555555;
}

label {
    width: 100%;
    display: block;
}

label[for="submit"] {
    opacity: 0;
}

textarea {
    width: 80%;
    min-height: 90px;
}

#link {
    font-size: 100%;
}