@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #641835b9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    height: 40px;
    background: white;
    color: black;
    position: sticky;
    top: 0;
    font-size: 20px;
    padding: 5px;
    border-bottom: 3px solid black;
    font-weight: 700;
}

#logo {
    font-size: 30px;
}

#header div {
    align-self: center;
    flex-grow: 1;
    display: flex;
}

#header a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
    align-self: center;
}

#header #center {
    align-self: center;
    flex-grow: 8;
    text-align: center;
    display: flex;
}

#header form {
    width: 100%;
    display: flex;
}

#header input {
    font-size: 20px;
    float: left;
}

#header #keywords {
    flex: 100 0 auto;
    margin-right: 5px;
}

#header #search {
    flex: 1 0 auto;
    font-weight: 700;
}

#header #right {
    float: right;
    text-align: right;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    #header {
        flex-direction: column;
        height: auto;
    }
}

.container {
    background-color: #e96e6e;
    padding: 20px;
    flex: 1 1 auto;
}

p {
    font-weight: 300;
}

h1, h2 {
    font-weight: 700;
}

.title {
    font-size: 50px;
}

.error-msg {
    background-color: #d33d42;
    border-color: #a53d40;
    border-style: ridge;
    border-width: 3px;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
    width: calc(100% - 12px);
}

span.required {
    color: #880000;
}


/* || Tables */




/* || Input Fields */

input::placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    border-style: solid;
    border-color: grey;
    outline-color: grey;
    outline-width: 3px;
    border-width: 3px;
    transition-duration: 0.5s;
    transition-property: border-color, outline-color;
    transition-timing-function: linear;
}

input:focus, textarea:focus {
    outline-color: white;
}

input:valid, textarea:valid {
    outline-color: green;
}

input:invalid, textarea:invalid {
    outline-color: red;
}


input[type="submit"] {
    transition-property: filter;
    transition-duration: 0.2s;
    filter: brightness(100%);
    cursor: pointer;
}

input[type="submit"]:hover {
    filter: brightness(90%);
}

a {
    color: blue;
}