<!--
The 404 error page

IMPORTS
/static/styles.css
header.html

REQUIRES
[if user wants to return to home]
SENDS to /home by GET
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>404 Error - Riidordie</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        {% include 'header.html' %}
        <div id="home">
            <div class="container">
                <h1 class="title">404 Error (Whoops)</h1>
                <p>Page not found</p>
                <a href="/home">Back to home</a>
            </div>
        </div>
    </body>
</html>