<!--
Displays a blog for the user to view

IMPORTS
/static/styles.css
header.html

REQUIRES
entries (list of list of dictionaries)
 -- entries[0]             - First page of entries
 -- entries[i][j]["title"] - Title
 -- entries[i][j]["time"]  - Date time (in human readable format)
 -- entries[i][j]["post"]  - Content of the entry
 -- entries[i][j]["pic"]   - URL of included image
pageNum         - Integer of page number
blogname        - String of name of blog
blogdescription - List of lines of description of blog
following       - True if user is following the blog, False otherwise
creator         - String of username of creator
username        - String of username of user
iscreator       - True if user is creator of the blog

[if user wants to unfollow blog]
SENDS to /unfollow/<username> by POST
viewBlog - Submit button

[if user wants to follow blog]
SENDS to /follow/<username> by POST
viewBlog - Submit button

[if user wants to view different page]
SENDS to /home/blog/<username>/<pageNum> by GET
-->
{% if pageNum is not defined %}
    {% set pageNum = 1 %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ blogname }} - Riidordie</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        {% include 'header.html' %}
        <div id="bloghome">
            <div class="containers">
                {% if error_msg is defined and error_msg %}
                    <p class="error-msg">{{ error_msg }}</p>
                {% endif %}
                <h1 class="title">{{ blogname }}</h1>
                <p>A blog by <u>{{ creator }}</u></p>
                <div class="text">
                    {% for line in blogdescription %}
                        <p>{{ line }}</p>
                    {% endfor %}
                </div>
                {% if not iscreator %}
                    {% if following %}
                        <form action="/unfollow/{{ creator }}" method="POST">
                            <input type="submit" name="viewBlog" value="Unfollow Blog">
                        </form>
                    {% else %}
                        <form action="/follow/{{ creator }}" method="POST">
                            <input type="submit" name="viewBlog" value="Follow Blog">
                        </form>
                    {% endif %}
                {% endif %}
            </div>

            <div class="containers">
                {% if not entries %}
                    <h3>No entries posted yet.</h3>
                {% else %}
                <nav>
                    {% for page in entries %}
                        {% if loop.index != pageNum %}
                            <a href="/home/blog/{{ creator }}/{{ loop.index }}">Page {{loop.index}}</a>
                        {% else %}
                            <p>Page {{loop.index}}</p>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>

            <div class="containers entries">
                {% for entry in entries[pageNum - 1] %}
                    <fieldset class="containers">
                        <legend>{{ entry["title"] }}</legend>
                        <p>Posted at {{ entry["time"] }}</p>
                        {% if entry["pic"] != "" %}
                            <img src="{{ entry['pic'] }}" />
                        {% endif %}
                        {% for line in entry["post"] %}
                            <p>{{ line }}</p>
                        {% endfor %}
                    </fieldset>
                {% endfor %}
            </div>

            <div class="containers">
                <nav>
                    {% for page in entries %}
                        {% if loop.index != pageNum %}
                            <a href="/home/blog/{{ creator }}/{{ loop.index }}">Page {{loop.index}}</a>
                        {% else %}
                            <p>Page {{loop.index}}</p>
                        {% endif %}
                    {% endfor %}
                </nav>
                {% endif %}
            </div>
        </div>
    </body>
</html>