<!--
Allows a user to add/edit entries and blog metadata

REQUIRES
entries (list of dictionaries)
 -- entries[i]["title"]    - Title
 -- entries[i]["datetime"] - Date time (in human readable format)
 -- entries[i]["post"]     - Content of the entry
 -- entries[i]["id"]       - ID of entry
error_msg       (String of why blog edit didn't succeed, undefined if no such problem)
blogname        (String of name of blog)
blogdescription (String of description of blog)
entrytitle      (String of title of entry)
entrycontent    (String of content of entry)
username        (String of username of creator)

[if user submits edits to blog]
SENDS to /edit-blog by POST
"blogname"        - Updated blog name
"blogdescription" - Updated blog description

[if user wants to edit an entry]
SENDS to /edit/<entryid> by POST
"title"         - Entry title
"content"       - Entry content

[if user wants to add an entry]
SENDS to /add-entry/ by POST
"title"         - Entry title
"content"       - Entry content

[if user wants to see existing blogs]
SENDS to /home by GET

[if user wants to log out]
SENDS to /logout by GET
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Edit Blog {{ blogname }} - Web Log</title>
    </head>
    <body>
        <a href="/home">Back to Home</a>
        {% include 'header.html' %}
        {% if error_msg is defined %}
        <p><b>{{ error_msg }}</b></p>
        {% endif %}
        <form action="/edit-blog" method="POST">
            <table>
                <tr><td>Blog Name *</td><td><input name="blogname" value="{{ blogname }}" /></td></tr>
                <tr><td></td><td><p>A blog by {{ username }}</p></td></tr>
                <tr><td>Blog Description</td><td><textarea name="blogdescription">{{ blogdescription }}</textarea></td></tr>
                <tr><td></td><td><input name="blog" type="submit" value="Update Blog Name and Description" /></td></tr>
            </table>
        </form>

        <hr />

        <form action="/add-entry" method="POST">
            <table>
                <tr><td>Entry Title *</td><td><input type="text" name="title" value="{{ entrytitle }}" /></td></tr>
                <tr><td>Entry Content *</td><td><textarea name="content">{{ entrycontent }}</textarea></td></tr>
                <tr><td></td><td><input name="addEntry" type="submit" value="Add Entry" /></td></tr>
            </table>
        </form>

        {% for entry in entries %}
            <hr />
            <form action="/edit/{{ entry['id'] }}" method="POST">
                <table>
                    <tr><td>Entry Title *</td><td><input name="title" type="text" value="{{ entry['title'] }}" /></td></tr>
                    <tr><td>Entry Content *</td><td><textarea name="content">{{ entry['post'] }}</textarea></td></tr>
                    <tr><td></td><td><input name="editEntry" type="submit" value="Edit Entry"/><input name="deleteEntry" type="submit" value="Delete Entry" /></td></tr>
                </table>
            </form>
        {% endfor %}
    </body>
</html>