<!--
REQUIRES
title (String of title of entry)
post  (String of content of the entry)

[if user submits edits to entry]
SENDS to /edit/<entryid># by POST
title - Updated title of entry
post  - Updated content of entry

[if user wants to return to blog edit page]
SENDS to /my-blog by GET
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Edit Entry {{ title }} - Web Log</title>
    </head>
    <body>
        <a href="/my-blog">Return to Editing Blog</a>
        {% if error_msg is defined %}
        <p><b>Problem Editing Entry: {{ error_msg }}</b></p>
        {% endif %}
        <form action="#" method="POST">
            <table>
                <tr><td>Entry Title</td>
                    <td><input type="text" name="title" value="{{ title }}" /></td></tr>

                <tr><td>Entry Content</td>
                    <td><textarea name="post">{{ post }}</textarea></tr>

                <tr><td></td>
                    <td><input type="updateEntry" value="Update Entry" /></td></tr>
            </table>
        </form>
    </body>
</html>