<!--
The homepage for a logged-in user -- lists all blogs on the website

REQUIRES
blogs (list of dictionaries)
 -- blogs[i]["id"]          - ID of blog
 -- blogs[i]["name"]        - Name
 -- blogs[i]["username"]    - Username
 -- blogs[i]["description"] - Description of blog
 -- blogs[i]["datetime"]    - Datetime of latest entry (in human readable format)
 -- blogs[i]["following"]   - Whether the user is following this blog
username - (String username of user)

[if user wants to edit blog]
SENDS to /my-blog by GET

[if user wants to see an existing blog]
SENDS to /home/<blogid> by GET

[if user wants to log out]
SENDS to /logout by GET
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home - Web Log</title>
    </head>
    <body>
        {% include 'header.html' %} 
        <h1>Welcome to Web Log 0.1, {{username}}</h1>
        <p><a href="/edit-blog">Edit My Blog</a>    <a href="/followed-blogs">My Followed Blogs</a></p>   
        <form action="/search-results" method="POST"><input type="text" name="keywords" placeholder="Enter search terms"/> <input name="search" type="submit" value="Search"/></form>
        <hr>

        <table>
            <tr><td>Blog Name</td> <td>Blog Creator</td> <td>Last Updated</td> <td>Description</td> <td>Following</td></tr>
            {% for blog in blogs %}
                <tr><td><a href="/home/blog/{{ blog['username'] }}">{{ blog["blogname"] }}</a></td>
                    <td>{{ blog["username"] }}</td>
                    <td>{{ blog["time"] }}</td>
                    <td>{{ blog["blogdescription"] }}</td>
                    <td>
                        {% if username != blog["username"] %}
                            {% if not blog["following"] %}
                                <form action="/unfollow/{{ blog['username'] }}" method="POST">
                                    <input type="submit" name="unfollowBlog_home" value="Unfollow Blog">
                                </form>
                            {% else %}
                                <form action="/follow/{{ blog['username'] }}" method="POST">
                                    <input type="submit" name="followBlog_home" value="Follow Blog">
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>