<!--
The homepage for a logged-in user -- lists all blogs on the website

IMPORTS
/static/styles.css
/static/home.css
header.html

REQUIRES
blogs (list of dictionaries)
 -- blogs[i]["blogname"]        - Name of blog
 -- blogs[i]["username"]        - Username
 -- blogs[i]["blogdescription"] - Description of blog
 -- blogs[i]["time"]            - Datetime of latest entry (in human readable format)
error_msg - Error message
username  - String username of user
following - List of blog names that the user is following

[if user wants to see an existing blog]
SENDS to /home/blog/<username> by GET

[if user wants to follow blog]
SENDS to /follow/<username> by POST
home - Submit button

[if user wants to follow blog]
SENDS to /unfollow/<username> by POST
home - Submit button
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home - Web Log</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        {% include 'header.html' %}
        <div id = "home">
            <div class="container">
                <h1 class="title">Welcome to Web Log 0.1, {{ username }}</h1>
                {% if error_msg is defined %}
                    <p class="error-msg">{{ error_msg }}</p>
                {% endif %}

                {% if not blogs %}
                    <h3>No blogs created yet.</h3>
                {% else %}
                    <table>
                        <thead><th>Blog Name</th> <th>Blog Creator</th> <th>Last Updated</th> <th>Description</th> <th>Following</th></thead>
                        {% for blog in blogs %}
                            <tr><td><a href="/home/blog/{{ blog['username'] }}">{{ blog["blogname"] }}</a></td>
                                <td>{{ blog["username"] }}</td>
                                <td>{{ blog["time"] }}</td>
                                <td>{{ blog["blogdescription"] }}</td>
                                <td>
                                    {% if username != blog["username"] %}
                                        {% if blog["blogname"] not in following %}
                                        <form action="/follow/{{ blog['username'] }}" method="POST">
                                            <input type="submit" name="home" value="Follow Blog" />
                                        </form>
                                        {% else %}
                                            <form action="/unfollow/{{ blog['username'] }}" method="POST">
                                                <input type="submit" name="home" value="Unfollow Blog" />
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </body>
</html>