<!--
REQUIRES
error_msg (String of why login didn't succeed, undefined if no such problem)
username (String of username)
password (String of password)

[if user tries to log in]
SENDS to / by POST
"username" - Username
"password" - Password

[if user wants to register an account]
SENDS to /register by GET
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Log In - Web Log</title>
    </head>
    <body>
        <h2>Log In</h2>
        {% if error_msg is defined %}
        <p><b>{{ error_msg }}</b></p>
        {% endif %}
        <form action="/login" method="POST">
            <table>
                <tr><td>Username</td>
                    <td><input type="text" name="username" value="{{username}}"/></td></tr>

                <tr><td>Password</td>
                    <td><input type="password" name="password" value="{{password}}" /></td></tr>

                <tr><td>Not a registered user? <a href="/register">Register here.</a></td>
                    <td><input name="login" type="submit" value="Log In" /></td></tr>
            </table>
        </form>
    </body>
</html>