<!--
REQUIRES
error_msg       (List of strings of why registration didn't succeed, undefined if no such problem)
blogname        (String of attempted blog name submission, undefined otherwise)
blogdescription (String of attempted blog description, undefined otherwise)

[if user submits registration form]
SENDS to /registered by POST
"username"        - Username
"password"        - Password
"password-conf"   - Confirmed password
"blogname"        - Blog name
"blogdescription" - Blog description

[if user wants to log in]
SENDS to / by GET
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Register an Account - Web Log</title>
    </head>
    <body>
        <h2>Register an Account</h2>
        {% if error_msg is defined %}
        {% for error in error_msg %}
        <p><b>Problem Registering an Account: {{ error }}</b></p>
        {% endfor %}
        {% endif %}
        <form action="/registered" method="POST">
            <table>

                <tr><td>Username</td>
                    <td><input type="text" name="username" /></td></tr>

                <tr><td>Password</td>
                    <td><input type="password" name="password" /></td></tr>

                <tr><td>Confirm Password</td>
                    <td><input type="password" name="password-conf" /></td></tr>

                <tr><td>Blog Name</td>
                    <td><input type="text" name="blogname" value="{{ blogname }}" /></td></tr>

                <tr><td>Blog Description</td>
                    <td><textarea name="blogdescription">{{ blogdescription }}</textarea></td></tr>

                <tr><td>Already registered? <a href="/">Log in here.</a></td>
                    <td><input type="submit" value="Register" /></td></tr>
            </table>
        </form>
    </body>
</html>